Heroes of Pymoli Analysis

In [14]:
import pandas as pd 
import numpy as np

In [15]:
file_path = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
# Calculate total number of unique players by retreiving count of unique rows

unique_players = purchase_data["SN"].nunique()

# Display the total number of unique players in data frame
df_player_count = pd.DataFrame({"Total Players": [unique_players]})
df_player_count

   Total Players
0            576

Purchase Analysis (Total)

In [21]:
#obtain the numebr of unique items by identifying them in the Item Id column
tot_uni_players = purchase_data['Item ID'].nunique()

avg_price = round(purchase_data['Price'].mean(),2)

purchases = purchase_data['Purchase ID'].count()

rev_total = purchase_data['Price'].sum()

pd.options.display.float_format = '${:,.2f}'.format
 
#Purchase Analysis DataFrame (df_purch_analysis) creates a dataframe to display the calcualted columns above
df_purch_analysis = pd.DataFrame({"Number of Unique Items": [tot_uni_players], "Average Price": [avg_price], 
"Number of Purchases": [purchases], "Total Revenue": [rev_total]})
df_purch_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183          $3.05                  780      $2,379.77

Gender Demographics

In [ ]:

df_gender = purchase_data[['SN','Gender', 'Age']]
df_gender_d = df_gender.drop_duplicates(subset='SN')

males = df_gender_d.loc[gender_df_d['Gender'] == 'Male']
males_count = len(males)
male_per = (len(males)/len(df_gender_d))*100