## Heroes of Pymoli Analysis

   This analysis provided great insight into the demographic of the majority of the players, and the two age groups (15-19 & 20-24) that made up 63.37% of the total players. 

   The most popular and most profitable tables revealed that the most popular game was"OatheBreaker, Last Hope of the Breaking Storm" which had the grestest dollar amount sold along with the greatest number of units sold. 

   "OatheBreaker, Last Hope of the Breaking Storm" as mentioned before sold the most number of units and earned the highest dollar amount, however the correlaton between number of units sold and dollar amount earned was not as proportionate with the rest of the games

   From the data and tables we can clearly see that the majority of the players' age and gender, and this provides the insght which is necessary for identifying a target audience group to help improve the game and grow its popularity.

In [1]:
import pandas as pd 
import numpy as np

In [2]:
#establish file path to data to analyze
file_path = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count
* Display the total number of players

In [3]:
# Calculate total number of unique players by retreiving count of unique rows

unique_players = purchase_data["SN"].nunique()

# Display the total number of unique players in data frame
df_player_count = pd.DataFrame({"Total Players": [unique_players]})
df_player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#obtain the numebr of unique items by identifying them in the Item Id column
tot_uni_players = purchase_data['Item ID'].nunique()

avg_price = round(purchase_data['Price'].mean(),2)

purchases = purchase_data['Purchase ID'].count()

rev_total = purchase_data['Price'].sum()

pd.options.display.float_format = '${:,.2f}'.format
 
#Purchase Analysis DataFrame (df_purch_analysis) creates a dataframe to display the calcualted columns above
df_purch_analysis = pd.DataFrame({"Number of Unique Items": [tot_uni_players], "Average Price": [avg_price], 
"Number of Purchases": [purchases], "Total Revenue": [rev_total]})
df_purch_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183          $3.05                  780      $2,379.77

## Gender Demographics
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#determine data you want in chart and start your data
df_gender = purchase_data[['SN','Gender', 'Age']]
df_gender_d = df_gender.drop_duplicates(subset='SN')

#calculate perecentage and count values for your all of your gender rows
males = df_gender_d.loc[df_gender_d['Gender'] == 'Male']
males_count = len(males)
male_per = (len(males)/len(df_gender_d))*100
 
females = df_gender_d.loc[df_gender_d['Gender'] == 'Female']
females_count = len(females)
female_per = (len(females)/len(df_gender_d))*100

others = df_gender_d.loc[df_gender_d['Gender'] == 'Other / Non-Disclosed']
others_count = len(others)
others_per = (len(others)/len(df_gender_d))*100

#Now combine data that has been calcualted into a simple data frame
gen_df = pd.DataFrame({"Gender":["Male", "Female", "Other / Non Disclosed"],
                       "Total Count":[males_count, females_count, others_count],
                       "Percentage of Players":[male_per, female_per, others_per]},
                      columns = ["Gender", "Total Count", "Percentage of Players"])

#Add the gender index and format the percentage 
gen_final_df = gen_df.set_index("Gender")
gen_final_df.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Calculated values by using group by function along with sum, mean, and count functions. 

purch_count = purchase_data.groupby(["Gender"]).count()["Price"]
purch_sum_gen = purchase_data.groupby(["Gender"]).sum()["Price"]

#use previous count values to obtain total count (tot_count) for each gender 
tot_count = (females_count, males_count, others_count)
avg_per_person = purch_sum_gen / tot_count
avg_purch_gen = purchase_data.groupby(["Gender"]).mean()["Price"]

#create summary data frame for the above values and rounded values in dataframe
purch_analysis_gen_df = pd.DataFrame({"Purchase Count":purch_count, 
                                 "Average Purchase Price": avg_purch_gen,
                                      "Total Puchase Value": purch_sum_gen,
                                 "Avg Total Purchase per Person": avg_per_person,})
purch_analysis_gen_df.round(2)

,Purchase Count,Average Purchase Price,Total Puchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics
* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
groups = ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=groups)
age_groups = purchase_data.groupby("Age Group")

t_count = age_groups["SN"].nunique()
t_players = purchase_data["SN"].nunique()
percent_players = (t_count/t_players) * 100

age_summary_df = pd.DataFrame({"Total Count": t_count, "Percentage of Players": percent_players})

age_summary_df["Percentage of Players"] = age_summary_df["Percentage of Players"].map("{:.2f}".format)

age_summary_df = age_summary_df[["Total Count", "Percentage of Players"]]
age_summary_df

           Total Count Percentage of Players
Age Group
<10                 17                  2.95
10-14               22                  3.82
15-19              107                 18.58
20-24              258                 44.79
25-29               77                 13.37
30-34               52                  9.03
35-39               31                  5.38
40+                 12                  2.08

## Purchasing Analysis (Age)
* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#create bins for ages for data frame *(could of used bins from last section if you wanted too)
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
groups = ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]

#calculate column values for ech of the bins 
purch_count = purchase_data.groupby(["Age Group"]).count()["Price"]
avg_purch_price = purchase_data.groupby(["Age Group"]).mean()["Price"]
tot_purch_val = purchase_data.groupby(["Age Group"]).sum()["Price"]
avg_tot_purch = age_groups["Price"].sum()/age_groups["SN"].nunique()

#put calcualtions into data frame based off bins and don't forget to round
purchase_analysis_age = pd.DataFrame({"Purchase Count": purch_count, "Average Purchase Price": avg_purch_price, 
 "Total Purchase Value": tot_purch_val, "Avg Total Purchase per Person": avg_tot_purch})

purchase_analysis_age.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders
* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Obtain column values by first getting calcualtions for all spenders
purchase_count = purchase_data.groupby(["SN"]).count()["Price"]
avg_purch = purchase_data.groupby(["SN"]).mean()["Price"]
top_purch_val = purchase_data.groupby(["SN"]).sum()["Price"]

#Put calculations into a dataframe and then reduce datafram to show only desired values
top_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchse Price": avg_purch,
"Total Purchase Value": top_purch_val})

#Use the header function to show top 5 spenders by sorting Total Purchases Value from greatest value to smallest value
top_df.sort_values("Total Purchase Value", ascending=False).head(5).round(2)

             Purchase Count  Average Purchse Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                $18.96
Idastidru52               4                  $3.86                $15.45
Chamjask73                3                  $4.61                $13.83
Iral74                    4                  $3.40                $13.62
Iskadarya95               3                  $4.37                $13.10

## Most Popular Items
* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#Group by Item ID and Item Name and then obtain value
item_purch_count = purchase_data.groupby(["Item ID","Item Name"]).count()["Price"]
item_price = purchase_data.groupby (["Item ID","Item Name"]).mean()["Price"]
tot_purch_v = purchase_data.groupby (["Item ID","Item Name"]).sum()["Price"]

#Put calculated value into Data Frame (most_pop_items_df)
most_pop_items_df = pd.DataFrame({"Purchase Count": item_purch_count, "Item Price": item_price, 
"Total Purchase Value": tot_purch_v})

#Sort the Total Purchase Value in descending order 
most_pop_items_df.sort_values("Purchase Count", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items
* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
#Sort the previous data frame by Total Purchase Value from greatest to smallest value 
most_pop_items_df.sort_values("Total Purchase Value", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80